body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 50px;
    color: #c6ac99;
    font-family: Arial,serif;
}

h1 {
    margin-block-start: 0.1em;
}

a, a:visited, a:hover {
    text-decoration: none;
}

a {
    color: #a15e26;
}

a:hover {
    color: #c56b1a;
}

#grid {
    width: 350px;
    height: 400px;
    margin: auto 0;
    display: grid;
    align-self: center;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.cell {
    border: thin solid #666;
    background-color: #1f1f1f;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
}

.correctSpot {
    background-color: #0a4c0a;
}

.wrongSpot {
    background-color: #866709;
}

.noSpot {
    background-color: #000000;
}

#controls {
    margin: 20px;
    width: 100%;
    border: thin solid black;
    padding: 10px;
    border-radius: 8px;
    background: rgba(77, 77, 77, 0.04);
    display: flex;
    flex-direction: column;
}

#controls > *:not(:last-child) {
    margin-bottom: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: #1119;
}

/* Benchmark results */

#benchmarkResultsProgressBar {
    opacity: 0;
    transition: opacity 0.5s, width 0.2s;
}

.averageCase {
    color: #00f7ff;
}

.worstCase {
    color: #ff6a00;
}

.progressBar {
    height: 4px;
    background: linear-gradient(90deg, blue, indigo);
}

.distributionBarContainer, .distributionBarLabels {
    margin: 0 auto 10px;
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 150px;
    align-items: end;
}

.distributionBarLabels {
    align-items: start;
}

.distributionBarLabel {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 45px;
    transform: rotate(331deg);
    margin-right: -2px;
    margin-top: 5px;
}

.distributionBar {
    width: 45px;
    background-color: #000000;
    border: thin solid #333;
    box-sizing: border-box;
}

.distributionBar:nth-child(1) {
    background-color: #41c504;
}
.distributionBar:nth-child(2) {
    background-color: #37940a;
}
.distributionBar:nth-child(3) {
    background-color: #0a947b;
}
.distributionBar:nth-child(4) {
    background-color: #0a7b94;
}
.distributionBar:nth-child(5) {
    background-color: #860a94;
}
.distributionBar:nth-child(6) {
    background-color: #940a74;
}
.distributionBar:nth-child(n+7) {
    background-color: #880000;
}

.answer {
    padding: 4px;
}

.failedAnswers {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: monospace;
}

.failedAnswer {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    border: thin solid black;
    padding: 10px;
}

.failedAnswerGuesses {
}

.failedAnswerGuess {
    display: inline-block;
    border: thin solid gray;
    background: rgba(50, 50, 50, 0.16);
    border-radius: 8px;
    padding: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}
